<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Delete Blog</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mt-3">
      <form
        action="/blog/delete/<%= blog._id %>"
        method="post"
      >
        <div class="mb-3">
          <label for="itlet" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            value="<%= blog.title %>"
            aria-describedby="title"
          >
        </div>
        <div class="mb-3">
          <label for="body">Body</label>
          <textarea
            class="form-control"
            id="body"
            name="body"
          ><%= blog.body %></textarea>
        </div>

        <div class="mb-3">
          <button class="btn btn-primary">Delete Blog</button>
        </div>
      </form>
    </div>

    <%- include("./partials/scripts") %>
  </body>
</html>
